{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filter %}{% load custom_tag %}
{% block title %}Dashboard | Geocoding Tool{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
<!-- Enjoyhint style -->
<link rel="stylesheet" href="{% static 'enjoyhint/enjoyhint.min.css' %}" />
<style>
#map { height: 600px; }
.form-group input[type=text]{height: 34px!important;}
</style>
{% endblock %}

{% block breadcrumbs %}
	<ul class='breadcrumb'>
	<li><a href="{% setting 'ROOT_APP_URL' %}/home/">{% trans 'Home' %}</a></li>
	{% if user|has_group:"Superuser" %}
	<li><a href="{% url 'admin:index' %}">{% trans 'Superuser Admin Home' %}</a></li>
	<!--
	<li><a href="{% url 'admin:index' %}geocodingapp/project/">Project List</a></li>
	-->
	{% endif %}
	{% if user|has_group:"Staff Admin" %}
	<li><a href="{% url 'admin:index' %}geocodingapp/">App Admin</a></li>
	<li><a href="{% url 'admin:index' %}geocodingapp/task/">Task List</a></li>
	{% endif %}
	<li>Dashboard</li>
	</ul>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="content-main">
	<h3 class="page-header">{% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}'s Dashboard</h3>
	
	<!-- Task List -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" id="panel-tasks">
				<div class="panel-heading">
					<i class="fa fa-tasks fa-lg"></i> Tasks
				</div>
				<div class="panel-body">
					<div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>Description</th>
									<th>Initiate Date</th>
									<th>Geocoding Results</th>
								</th>
							</thead>
							<tbody>
								{% for t in tasks %}
									<tr>
										<td><a href="{% setting 'ADMIN_ROOT_URL' %}/admin/geocodingapp/task/{{t.id}}/">{{t.description}}</a></td>
										<td>{{t.initiate_date}}</td>
										<td>
											{% if t.has_result %}
												<a href="{% setting 'ROOT_APP_URL' %}/geocoding/results?task={{t.id}}">View Results</a>
											{% else %}
												<a href="{% setting 'ROOT_APP_URL' %}/geocoding/setup?task={{t.id}}">Go Geocoding</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block bottomjs %}
{{ block.super }}
<!-- DataTables JavaScript -->
<script src='{% static "datatables/media/js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}'></script>
<!-- JQuery Cookie-->
<script src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<!-- Leaflet JS -->
<script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>
<!-- Enjoyhint JS -->
<script src="{% static 'enjoyhint/enjoyhint.min.js' %}"></script>
<script src="{% static 'sitetour/sitetour.js' %}"></script>
<!-- Page JS -->
<script>
// Cookie for first time visitor
$(document).ready(function(){
	    var table = $('#dataTables-example').DataTable({
            responsive: true,
            "order":[[1,"desc"]],
    });
	
	// add a question mark next to search box
	$("#dataTables-example_filter > label > input").attr("placeholder","search text in results");
	$("#dataTables-example_filter").append('<div id="search-box-wrapper" class="form-group input-group"></div>');
	$("#dataTables-example_filter > label > input").appendTo("#search-box-wrapper");
	$("#search-box-wrapper").width("100%").append('<span class="input-group-btn"><button id="clear-search" class="btn btn-default btn-sm" title="Clear Search"><i class="fa fa-close"></i></button></span>');
	$("#dataTables-example_filter > label").remove();
	$("#clear-search").click(function(){
		table.search('').draw();
	});
});
</script>
{% endblock %}