{% load admin_static bootstrapped_goodies_tags %}
{% load custom_filter %}{% load custom_tag %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    {% block extrastyle %}{% endblock %}

    <!-- Le styles, placed after extrastyle to correctly override default styling -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="all"/>
    <style type="text/css">
		body {
			padding: 0!important;
			color: 333;
		}
		html, body{
            height: 100%;
            width: 100%;
        }
    </style>
	<!-- Bootstrap Theme CSS goes below here ->
    <!--<link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet"/>-->
	<link href="{% static "bootstrap/css/sb-admin-2.css" %}" rel="stylesheet"/>
    <link type="text/css" href="{% static "admin/css/overrides.css" %}" rel="stylesheet"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" /> -->
    <script type="text/javascript">
    //<![CDATA[
        window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
        window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";
    //]]>
    </script>
    <script src="{% static "admin/js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "admin/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    {% block extrahead %}{% endblock %}

    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
	<!-- Main Content -->
	{% block content %}{{ content }}{% endblock %}
<!-- Custom Bottom JS -->
{% block bottomjs %}{% endblock %}
</body>
</html>
